---
layout: default
---

{% include fitted-grid.html %}

{% if paginator %}
<div class="pagination">
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <span class="spacer"></span>
  
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}">
    <span class="icon-holder margin-right">&larr;</span>Previous
  </a>
  {% endif %}
  
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}">
    Next<span class="icon-holder margin-left"><span>&rarr;</span></span>
  </a>
  {% endif %}
  
  <div style="flex-grow:1"></div>
  <span class="last-updated">Last Updated: {{ site.time | date: "%b %-d, %Y" }}</span>
</div>
{% endif %}